<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/style.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css">

        <script src="/public/javascripts/jquery.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="/public/bootstrap/js/bootstrap.min.js"></script>

        <script src="/public/javascripts/d3.v3.min.js"></script>

        <script src="/public/javascripts/typeahead.js"></script>

        <script src="/public/javascripts/index.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <div id="settings">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal row" role="form">
                        <div id="txtFields" class="col-md-11">
                            <div class="form-group row">
                                <label for="txtGraphUri" class="col-sm-1 control-label">Graph URI</label>
                                <div class="col-sm-11">
                                    <input type="text" id="txtGraphUri" class="form-control input-sm" placeholder="Insert the default graph URI"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtResourceUri" class="col-sm-1 control-label">Resource</label>
                                <div class="col-sm-11">
                                    <div class="input-group">
                                        <input type="text" id="txtResourceUri" class="form-control input-sm" placeholder="Search for a resource">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button" id="btnResourceURI">Go!</button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="btnBack" class="btn btn-default" style="width: 100%"> Back </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="row">
            <div id="info" class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 420px">
                        <div class="literalTemplate">
                            <span>http://dbpedia.org/ontology/wikiPageOutLinkCount</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="literalTemplate">
                            <span>http://dbpedia.org/ontology/wikiPageOutLinkCount</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="literalTemplate">
                            <span>http://dbpedia.org/ontology/wikiPageOutLinkCount</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="literalTemplate">
                            <span>http://dbpedia.org/ontology/wikiPageOutLinkCount</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="literalTemplate">
                            <span>http://dbpedia.org/ontology/wikiPageOutLinkCount</span>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="visualization" class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 420px">
                        <div id="loader">
                            <img src="/public/images/loader.gif"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer"></div>
    </body>
</html>
