<!DOCTYPE html>
<html>
    <head>
        <script src="/public/javascripts/jquery.js"></script>
        <script src="/public/javascripts/index.js"></script>
    </head>
    <body>
        <div>
            Resource URI: <input type="text" id="txtResourceURI" style="width: 600px"/>
            <button type="button" id="btnResourceURI">Go!</button>
        </div>
        <div id="visualization">

        </div>
    </body>
</html>
